.category-section {
  width: min(1200px, 90%);

  margin: 100px auto;
}

.category-header {
  display: flex;

  justify-content: space-between;

  align-items: end;

  margin-bottom: 45px;
}

.category-label {
  font-size: 12px;

  letter-spacing: 3px;

  color: var(--secondary);
}

.category-heading h2 {
  font-size: 42px;

  margin: 15px 0 10px;
}

.category-heading p {
  color: var(--text-secondary);

  margin: 0;
}

.category-controls {
  display: flex;

  gap: 15px;
}

.arrow-btn {
  width: 48px;

  height: 48px;

  border-radius: 50%;

  border: 1px solid var(--border-light);

  background: rgba(255, 255, 255, 0.04);

  color: white;

  display: flex;

  align-items: center;

  justify-content: center;

  cursor: pointer;

  transition: 0.3s;
}

.arrow-btn svg {
  width: 20px;

  height: 20px;

  fill: none;

  stroke: currentColor;

  stroke-width: 2;
}

.arrow-btn:hover {
  background: var(--primary);

  box-shadow: var(--shadow-purple);

  transform: translateY(-4px);
}

.category-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 25px;
}

.category-card {
  height: 220px;

  padding: 30px;

  position: relative;

  overflow: hidden;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  border-radius: 24px;

  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.07),
    rgba(255, 255, 255, 0.02)
  );

  border: 1px solid rgba(255, 255, 255, 0.1);

  cursor: pointer;

  transition: 0.4s;
}

.category-card::before {
  content: "";

  position: absolute;

  width: 180px;

  height: 180px;

  right: -70px;

  top: -70px;

  background: var(--secondary);

  filter: blur(90px);

  opacity: 0;

  transition: 0.5s;
}

.category-card:hover::before {
  opacity: 0.25;
}

.category-card:hover {
  transform: translateY(-8px);

  border-color: rgba(34, 211, 238, 0.4);

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
}

.icon-box {
  width: 60px;

  height: 60px;

  border-radius: 18px;

  display: flex;

  align-items: center;

  justify-content: center;

  background: rgba(139, 92, 246, 0.12);

  color: var(--primary-light);
}

.icon-box svg {
  width: 30px;

  height: 30px;

  fill: none;

  stroke: currentColor;

  stroke-width: 1.7;
}

.card-content h3 {
  margin: 0;

  font-size: 24px;
}

.card-content p {
  margin: 8px 0;

  color: var(--text-secondary);
}

.card-content span {
  color: var(--secondary);

  font-size: 14px;
}

.category-card:hover .icon-box {
  transform: scale(1.1);

  box-shadow: var(--shadow-purple);
}

.icon-box {
  transition: 0.35s;
}

@media (max-width: 900px) {
  .category-grid {
    grid-template-columns: 1fr;
  }

  .category-header {
    flex-direction: column;

    align-items: start;

    gap: 30px;
  }
}
