*{
box-sizing:border-box;
}


body{

margin:0;

font-family:Inter,sans-serif;

background:
radial-gradient(circle at top,#18202b,#050505);

color:white;

}



.profile-container{

width:min(1200px,90%);

margin:50px auto;

}





.back-home{

padding:12px 25px;

border-radius:30px;

border:none;

cursor:pointer;

background:#ffffff15;

color:white;

margin-bottom:30px;

transition:.3s;

}


.back-home:hover{

background:white;

color:black;

}





.profile-header{


display:flex;

align-items:center;

gap:30px;


padding:35px;


border-radius:25px;


background:
rgba(255,255,255,.06);


backdrop-filter:blur(20px);


animation:show .7s ease;


}



.avatar{

width:120px;

height:120px;

border-radius:50%;

object-fit:cover;


}



.user-data h1{

font-size:32px;

margin:0;

}



.user-data p{

color:#aaa;

}



.user-data span{

font-size:14px;

color:#777;

}



.edit-profile{

margin-left:auto;


padding:12px 25px;

border-radius:25px;

border:none;

cursor:pointer;

}





.dashboard-grid{


margin-top:35px;


display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;


}





.dashboard-card{


padding:30px;


border-radius:25px;


background:
rgba(255,255,255,.05);


border:
1px solid rgba(255,255,255,.1);


transition:.3s;


}



.dashboard-card:hover{


transform:translateY(-8px);


background:
rgba(255,255,255,.1);


}



.icon{

font-size:35px;

}



.dashboard-card p{

color:#999;

height:45px;

}



.dashboard-card button{


margin-top:15px;

padding:10px 20px;

border-radius:20px;

border:none;

cursor:pointer;


}





.backend-message{


margin-top:35px;

padding:35px;

text-align:center;


border-radius:25px;


background:
linear-gradient(
135deg,
#111,
#222
);


animation:pulse 3s infinite;


}




@keyframes show{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:none;

}

}




@keyframes pulse{

50%{

box-shadow:0 0 30px rgba(255,255,255,.08);

}

}



@media(max-width:900px){

.dashboard-grid{

grid-template-columns:1fr;

}


.profile-header{

flex-direction:column;

text-align:center;

}


.edit-profile{

margin:auto;

}

}

.avatar-box{

position:relative;

width:120px;
height:120px;

display:flex;
align-items:center;
justify-content:center;

}


.avatar-ring{

position:absolute;

inset:-8px;

border-radius:50%;


background:
conic-gradient(
#00ffff,
#7b2cff,
#ff00aa,
#00ffff
);


animation:rotateRing 5s linear infinite;


}



.avatar{

position:relative;

z-index:2;

width:120px;

height:120px;

border-radius:50%;

object-fit:cover;

border:5px solid #111;

}